---
import { imageConfig } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";

const socialLinks = [
  {
    name: "Facebook",
    url: "https://www.facebook.com/gentecomunicaciones",
    icon: "/brand-facebook.svg", // Asegúrate de que esta ruta sea correcta y que el archivo SVG exista
  },

  {
    name: "Instagram",
    url: "https://www.instagram.com/gentecomunicaciones",
    icon: "/brand-instagram.svg",
  },
  {
    name: "YouTube",
    url: "https://www.youtube.com/gentecomunicaciones",
    icon: "/brand-youtube.svg",
  },
];
---

<Layout title="Contacto - Gente Comuniocaciones" />
<div class="bg-white rounded-lg shadow-md p-6 mx-auto">
  <div class="">
    <h3 class="text-xl font-semibold mb-4 text-center">Contáctanos</h3>
    <p class="text-center">
      Teléfonos: <a href="tel:+56988694401" class="text-blue-500"
        >+56 9 8869 4401</a
      > / <a href="tel:+56975122121" class="text-blue-500">+56 9 7512 2121</a> /
      <a href="tel:+56955217762" class="text-blue-500">+56 9 5521 7762</a>
    </p>
    <p class="text-center">
      Correo Electrónico: <a
        href="mailto:gentefm@gmail.com"
        class="text-blue-500">gentefm@gmail.com</a
      >
    </p>
  </div>

  <div class="mt-8">
    <h3 class="text-xl font-semibold mb-4 text-center">Nuestra Ubicación</h3>
    <p class="text-center">José Bisquert N°426 - Oficina 2, Rengo, Chile</p>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13458.345156188498!2d-70.865077!3d-34.407531!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzTCsDI0JzI3LjAiUyA3MMKwNTEnNTQuMCJX!5e0!3m2!1ses!2s!4v1603312179342!5m2!1ses!2s"
      width="100%"
      height="300"
      frameborder="0"
      style="border:0;"
      allowfullscreen=""
      aria-hidden="false"
      tabindex="0"
      class="mt-2 border border-gray-300 rounded-md"></iframe>
  </div>
  <div class="">
    <h3 class="text-xl font-semibold mt-4 text-center">
      Síguenos en nuestras redes sociales
    </h3>
    <div class="flex justify-center space-x-4">
      {
        socialLinks.map((link) => (
          <a
            href={link.url}
            target="_blank"
            class="text-gray-700 hover:text-blue-600"
          >
            <img src={link.icon} alt={link.name} class="w-8 h-8" />
            <span class="sr-only">{link.name}</span>
          </a>
        ))
      }
    </div>
  </div>
</div>

<Footer />
