---
import PlayerVideo from "../components/Player-video.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import CurrentProgram from "../components/CurrentProgram.astro";
import News from "../components/News.astro";
import WeatherWidget from "../components/WeatherWidget.astro";
---

<Layout title="Gente Comunicaciones" />
<main>
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6388264681707492"
    crossorigin="anonymous"></script>
  <CurrentProgram />
  <PlayerVideo />
  <WeatherWidget />
</main>
<Footer />
