---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre Nosotros - Gente Comunicaciones">
  <div class="bg-emerald-300 rounded-lg shadow-md p-6 mx-auto">
    <div class="flex flex-col items-center">
      <h3 class="text-xl font-semibold mb-4 text-center">Sobre Nosotros</h3>
      <p class="text-center w-3/4">
        Somos Gente Comunicaciones, una empresa apasionada y dedicada a informar
        a la comunidad. Llevamos 2 décadas de experiencia y la comunidad nos
        reconoce como un medio creíble y cercano.
      </p>
      <h3 class="text-xl font-semibold mt-4 mb-2 *:text-center">
        Nuestro Himno
      </h3>
      <p class="text-center mb-4">Brevemente Gente - Florcita Motuda</p>
      <audio controls class="w-80" src="/himnogente.mp3"> </audio>
    </div>
  </div></Layout
>
