---

---

<footer class="bg-black flex flex-col justify-center items-center">
  <span class="flex flex-row justify-center items-center mt-2">
    <a
      href="https://facebook.com/gentecomunicaciones"
      target="_blank"
      class="text-white"
    >
      <svg width="30" height="30" viewBox="0 0 24 24" fill="currentColor">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path
          d="M18 2a1 1 0 0 1 .993 .883l.007 .117v4a1 1 0 0 1 -.883 .993l-.117 .007h-3v1h3a1 1 0 0 1 .991 1.131l-.02 .112l-1 4a1 1 0 0 1 -.858 .75l-.113 .007h-2v6a1 1 0 0 1 -.883 .993l-.117 .007h-4a1 1 0 0 1 -.993 -.883l-.007 -.117v-6h-2a1 1 0 0 1 -.993 -.883l-.007 -.117v-4a1 1 0 0 1 .883 -.993l.117 -.007h2v-1a6 6 0 0 1 5.775 -5.996l.225 -.004h3z"
        ></path>
      </svg>
    </a>
    <a
      href="https://instagram.com/gentecomunicaciones"
      target="_blank"
      class="text-white"
    >
      <svg
        width="30"
        height="30"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path
          d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
        ></path>
        <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
        <path d="M16.5 7.5l0 .01"></path>
      </svg>
    </a>
  </span>
  <p class="text-white font-semibold">Gente Comunicaciones © 2024</p>
  <p class="text-xs text-white italic mb-2">
    Powered by
    <a
      class="font-extrabold hover:text-sky-300 cursor-pointer"
      href="https://www.felpysoluciones.com/"
      target="_blank"
    >
      Felpy Soluciones</a
    ><span>
      - Created by <a
        href="https://portfolio-elias-silk.vercel.app/"
        target="_blank"
        class="text-md bg-gradient-to-r from-blue-400 to-red-400 text-transparent bg-clip-text font-extrabold hover:text-sky-300 cursor-pointer"
        >Cofla.Dev</a
      ></span
    >
  </p>
</footer>
