<header class="flex items-center justify-between p-4 bg-black">
  <!-- Logo -->
  <a href="/" class="flex-shrink-0">
    <img
      src="/logo-blanco.png"
      alt="Gente Comunicaciones"
      class="w-16 h-auto"
    />
  </a>

  <!-- Menú de navegación para dispositivos grandes -->
  <nav class="hidden lg:flex justify-center items-center text-white flex-1">
    <ul class="flex space-x-4">
      <li>
        <a
          href="/programas"
          class="px-4 py-2 block hover:bg-gray-800 rounded-md"
        >
          Programas
        </a>
      </li>
      <li>
        <a
          href="/sobrenosotros"
          class="px-4 py-2 block hover:bg-gray-800 rounded-md"
        >
          Sobre Nosotros
        </a>
      </li>
      <li>
        <a
          href="/contacto"
          class="px-4 py-2 block hover:bg-gray-800 rounded-md"
        >
          Contacto
        </a>
      </li>
    </ul>
  </nav>

  <!-- Botón EN VIVO, Reproductor de Audio y Menú hamburguesa -->
  <div class="flex items-center space-x-4">
    <!-- Botón EN VIVO -->

    <a
      href="#"
      class="text-white font-extrabold bg-red-700 p-3 rounded-xl hover:bg-white hover:text-red-700 text-xs lg:text-base"
      id="liveButton"
    >
      EN VIVO
      <img src="/live.svg" alt="Play" class="w-6 h-auto inline-block" />
    </a>

    <!-- Reproductor de audio -->
    <div class="hidden items-center" id="divPlayer">
      <audio
        id="radioPlayer"
        preload="metadata"
        src="https://servers58.com/proxy/sc_gentefmcl?mp=/;"
        title="Sound HD"
        class="lg:w-60 w-36"
        controls></audio>
    </div>

    <!-- Botón de menú hamburguesa visible solo en móviles -->
    <button id="menuButton" class="lg:hidden text-white focus:outline-none">
      <svg
        class="h-8 w-8"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>

  <!-- Menú desplegable en móviles -->
  <nav
    id="mobileMenu"
    class="hidden lg:hidden flex-col items-center w-auto text-white"
  >
    <ul class="flex flex-col items-center space-y-2">
      <li>
        <a
          href="/programas"
          class="text-xs px-3 py-2 block hover:bg-gray-800 rounded-md text-center w-auto"
        >
          Programas
        </a>
      </li>
      <li>
        <a
          href="/sobrenosotros"
          class="text-xs px-3 py-2 block hover:bg-gray-800 rounded-md text-center w-auto"
        >
          Sobre Nosotros
        </a>
      </li>
      <li>
        <a
          href="/contacto"
          class="text-xs px-3 py-2 block hover:bg-gray-800 rounded-md text-center w-auto"
        >
          Contacto
        </a>
      </li>
    </ul>
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const liveButton = document.getElementById("liveButton");
    const audioPlayer = document.getElementById("radioPlayer");
    const menuButton = document.getElementById("menuButton");
    const mobileMenu = document.getElementById("mobileMenu");
    const divPlayer = document.getElementById("divPlayer");

    function playAudio() {
      if (audioPlayer instanceof HTMLAudioElement) {
        audioPlayer.classList.remove("hidden");
        divPlayer.classList.remove("hidden");
        divPlayer.classList.remove("lg:hidden");
        audioPlayer.play();
        localStorage.setItem("isPlaying", "true");
      }
    }

    function restoreAudioState() {
      const isPlaying = localStorage.getItem("isPlaying");
      if (isPlaying === "true") {
        playAudio();
      }
    }

    liveButton.addEventListener("click", function (event) {
      event.preventDefault();
      playAudio();
    });

    menuButton.addEventListener("click", function () {
      mobileMenu.classList.toggle("hidden");
      audioPlayer.classList.add(" w-10");
    });

    restoreAudioState();
    window.addEventListener("beforeunload", function () {
      localStorage.setItem("isPlaying", audioPlayer.paused ? "false" : "true");
    });
  });
</script>
