---
import Image from "astro/components/Image.astro";
---

<header class="flex items-center justify-between p-4 bg-black">
  <!-- Logo -->
  <a href="/" class="flex-shrink-0">
    <Image
      src="/logo-blanco.png"
      alt="Gente Comunicaciones"
      width={64}
      height={64}
      loading="eager"
    />
  </a>

  <!-- Menú de navegación para dispositivos grandes -->
  <nav class="hidden lg:flex justify-center items-center text-white flex-1">
    <ul class="flex space-x-4">
      <li>
        <a
          href="/programas"
          class="px-4 py-2 block hover:bg-gray-800 rounded-md"
        >
          Programas
        </a>
      </li>
      <li>
        <a
          href="/sobrenosotros"
          class="px-4 py-2 block hover:bg-gray-800 rounded-md"
        >
          Sobre Nosotros
        </a>
      </li>
      <li>
        <a
          href="/contacto"
          class="px-4 py-2 block hover:bg-gray-800 rounded-md"
        >
          Contacto
        </a>
      </li>
      <li>
        <a
          href="https://tarifas.servel.cl/visualizar/6b339a30799eaf7065012a3b8fd20548205221b4"
          class="px-4 py-2 block bg-red-700 hover:bg-red-900 rounded-md"
          target="_blank"
        >
          Tarifas Servel
        </a>
      </li>
    </ul>
  </nav>

  <!-- Botón EN VIVO, Reproductor de Audio y Menú hamburguesa -->
  <div class="flex items-center space-x-4">
    <!-- Botón EN VIVO -->

    <a
      href="/"
      class="text-white font-extrabold bg-red-700 lg:p-3 p-2 rounded-xl hover:bg-white hover:text-red-700 text-xs lg:text-base"
      id="liveButton"
    >
      EN VIVO
      <img src="/live.svg" alt="Play" class="w-6 h-auto inline-block" />
    </a>

    <!-- Reproductor de audio -->
    <div class="hidden lg:hidden items-center" id="divPlayer">
      <audio
        id="radioPlayer"
        src="https://servers58.com/proxy/sc_gentefmcl?mp=/;"
        title="Audio de Gente Comunicaciones en Vivo"
        class="lg:w-60 w-36"></audio>
    </div>

    <!-- Botón de menú hamburguesa visible solo en móviles -->
    <button id="menuButton" class="lg:hidden text-white focus:outline-none">
      <svg
        id="hamburgerIcon"
        class="h-8 w-8"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
      <svg
        id="closeIcon"
        class="h-8 w-8 hidden"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </div>

  <!-- Menú desplegable en móviles -->
  <nav
    id="mobileMenu"
    class="hidden flex-col items-center w-1/2 absolute text-white top-24 bg-opacity-95 right-0 bg-black rounded-lg shadow-4xl p-2 z-10"
  >
    <ul class="flex flex-col items-center space-y-2">
      <li>
        <a
          href="/programas"
          class="text-sm px-3 py-2 block hover:bg-gray-800 rounded-md text-center w-auto"
        >
          Programas
        </a>
      </li>
      <li>
        <a
          href="/sobrenosotros"
          class="text-sm px-3 py-2 block hover:bg-gray-800 rounded-md text-center w-auto"
        >
          Sobre Nosotros
        </a>
      </li>
      <li>
        <a
          href="/contacto"
          class="text-sm px-3 py-2 block hover:bg-gray-800 rounded-md text-center w-auto"
        >
          Contacto
        </a>
      </li>
      <li>
        <a
          href="https://tarifas.servel.cl/visualizar/6b339a30799eaf7065012a3b8fd20548205221b4"
          class="text-sm px-3 text-white py-2 block bg-red-700 hover:bg-red-900 rounded-md text-center w-auto"
          target="_blank"
        >
          Tarifas Servel
        </a>
      </li>
    </ul>
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const liveButton = document.getElementById("liveButton");
    const audioPlayer = document.getElementById("radioPlayer");
    const menuButton = document.getElementById("menuButton");
    const mobileMenu = document.getElementById("mobileMenu");
    const divPlayer = document.getElementById("divPlayer");

    const hamburgerIcon = document.getElementById("hamburgerIcon");
    const closeIcon = document.getElementById("closeIcon");

    // Función para iniciar el audio al hacer clic en el botón
    function playAudio() {
      if (audioPlayer instanceof HTMLAudioElement) {
        // Mostrar el reproductor de audio
        audioPlayer.classList.remove("hidden");
        divPlayer.classList.remove("hidden");
        divPlayer.classList.remove("lg:hidden");

        // Intentar reproducir el audio y manejar posibles errores
        audioPlayer
          .play()
          .then(() => {
            console.log("Reproducción iniciada con éxito");
          })
          .catch((error) => {
            console.error("Error al reproducir el audio:", error);
          });
      }
    }

    // Escuchar el clic en el botón "EN VIVO" para iniciar la reproducción del audio
    liveButton.addEventListener("click", function (event) {
      event.preventDefault(); // Prevenir la navegación predeterminada
      playAudio(); // Iniciar la reproducción del audio solo cuando el usuario hace clic
    });

    // Control del menú móvil (hamburguesa)
    menuButton.addEventListener("click", function () {
      mobileMenu.classList.toggle("hidden");
      hamburgerIcon.classList.toggle("hidden");
      closeIcon.classList.toggle("hidden");
    });
  });
</script>
