---

---

<section
  class="flex flex-col w-full justify-center items-center py-5 bg-amber-500"
>
  <div class="flex items-center mb-4">
    <h1 class="text-2xl text-white font-semibold mr-3">Señal TV</h1>
    <svg
      width="30"
      height="30"
      viewBox="0 0 24 24"
      fill="none"
      stroke="white"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-device-tv"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
      ></path><path d="M16 3l-4 4l-4 -4"></path></svg
    >
  </div>

  <iframe
    src="https://player.kick.com/gentecomunicaciones"
    title="Señal TV - Gente Comunicaciones"
    frameborder="0"
    scrolling="no"
    allowfullscreen="true"></iframe>
</section>
<style>
  /* Estilo por defecto para pantallas grandes */
  iframe {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 700px;
    height: 394px;
  }

  /* Para pantallas medianas (tabletas, pantallas entre 768px y 1024px) */
  @media (max-width: 1024px) {
    iframe {
      width: 500px;
      height: 281px;
    }
  }

  /* Para pantallas pequeñas (smartphones, pantallas menores de 768px) */
  @media (max-width: 768px) {
    iframe {
      width: 400px;
      height: 220px;
    }
  }
</style>
